@font-face {
  font-family: 'digital-7';
  src: url('./digital-7.ttf');
}
.clock {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'digital-7', sans-serif;
  margin: 5px;
  font-size: 22px;
  

  .digital-clock {
    padding: 5px;
    width: 70px;
    height: 20px;
    background: rgb(10, 10, 10);
    margin-top: 10px;

    color: white;
  }
  .analog-clock {
    width: 100px;
    height: 100px;
    border: solid 1px #000;
    border-radius: 50%;
    position: relative;
    background: rgb(10, 10, 10);

    .dial {
      position: absolute;
      left: 50%;
      width: 50px;
      height: 50px;
      &.seconds {
        // top: 1px;
        transform-origin: 0 50px;
        height: 50px;
        border-left: solid 1px rgb(242, 245, 242);
      }
      &.minutes {
        top: 5px;
        transform-origin: 0 45px;
        height: 50px;
        border-left: solid 1px #f5f0f0;
      }
      &.hours {
        top: 20px;
        transform-origin: 0 30px;
        height: 35px;
        border-left: solid 2px rgb(240, 233, 233);
      }
    }

    .shadow {
      position: absolute;
      top: 70px;
      background: rgb(216, 215, 221);
      overflow: hidden;
      height: 100px;
      width: 100px;
      clip-path: circle(51px at -20% 50%);
      transform: rotate(90deg);
    }
  }
}
